extends layout

block content
    section.er404
        h2
            span.bright Ошибка 404
        p Кажется, вы заблудились! Пожалуйста, вернитесь к&nbsp;
            a(href="http://boting.pro") истокам.