extends layout

block content
    .grid.contact
        .grid__1-2
            section
                h2
                    span.bright Звоните
                    span  нам
                p По телефону #{phone} или в&nbsp;
                    a(href="skype:sliperk?call") скайпе

            section
                h2
                    span.bright Пишите
                    span  нам
                a(href="mailto:rusya.bmstu@gmail.com") Электронная почта

        .grid__1-2
            section
                h2
                    span.bright Мы
                    span  в интернете

                a(href="http://vk.com/kursovie.mgtu") Официальная группа ВКонтакте