extends layout

block content
    .grid.contact
        .grid__1-2
            h2
                span.bright Звоните
                span  нам

            section По телефону #{phone} или в&nbsp;
                a(href="skype:sliperk?call") скайпе

            h2
                span.bright Пишите
                span  нам
            section
                a(href="mailto:rusya.bmstu@gmail.com") Электронная почта

        .grid__1-2
            h2
                span.bright Мы
                span  в интернете

            section
                a(href="http://vk.com/kursovie.mgtu") Официальная группа ВКонтакте