extends layout

block content
    .grid.teach
        .grid__1-2
            h2
                span.bright Научим
            section Наши специалисты очень трепетно относятся к пониманию. Наше основное конкурентное преимущество то, что студент после работы с нами уходит со знаниями и пониманием. Поэтому помимо выполнения и объяснения курсовых работ и домашних заданий, мы предлагаем вам научиться делать их самим, но с нашей помощью. Мы предлагаем вам комплекс услуг:
                ul
                    li Репетиторство по любым предметам
                    li Курсы инженерных программ
                    li Подготовка к зачету, экзамену, защите
        .grid__1-2
            h2
                span.bright Почему мы?
            section
                ul
                    li В отличии от конкурентов у которых почасовая оплата. У нас же занятии построены на понимание и результат.
                    li Индивидуальный подход и формирование программы исходя из требований студента.
                    li Отсутствие стеснения, так как все преподаватели сами окончили бауманку, вы можете задать любой вопрос по программе.
                    li Наши преподаватели хорошо знают программу ВУЗа и дадут необходимые навыки, ничего лишнего, с гарантированным результатом.
                    li В основу примеров заложены реальные задания (чертежи, задачи) из текущего курса, что даст быструю адаптацию в изучаемой программе.
                    li У нас большой опыт – более 5 работы, и мы с радостью поделимся навыками и хитростями ;)