body {
  padding: 0;
  margin: 0;
  background: url("../images/bg.jpg") repeat top center;
}
a:link,
a:visited {
  color: #c90000;
  text-decoration: none;
  border-bottom: solid 1px;
}
a:hover,
a:active {
  color: #bc8f8f;
}
.wrapper {
  width: 920px;
  margin: 0 auto;
  background: #fcfcfc;
  padding-top: 53px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.line {
  margin-left: 44px;
  margin-right: 44px;
}
.rel {
  position: relative;
}
.promo {
  height: 68px;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 68px;
  width: 184px;
  background: url("../images/logo.png") no-repeat top left;
}
.big-phone {
  position: absolute;
  top: 98px;
  right: 0;
  color: #c90000;
  font: 26px/1 'Open Sans Condensed', sans-serif;
}
.main-menu {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 24px;
  list-style: none;
  border-bottom: 1px solid #ccc;
}
.main-menu__item {
  display: block;
  list-style: none;
  position: relative;
  float: left;
  height: 30px;
  padding: 15px 3px 0 0;
  overflow: hidden;
  font: 20px/1 'Open Sans Condensed', sans-serif;
  transition: border-color 0.2s linear;
  border-bottom: 3px solid #fcfcfc;
}
.main-menu__item_active {
  border-bottom: 3px solid #c90000;
}
.main-menu__item a:link,
.main-menu__item a:visited {
  padding-right: 20px;
  color: #818181;
  text-decoration: none;
  transition: color 0.2s linear;
  border-width: 0;
}
.main-menu__item:hover,
.main-menu__item:active {
  border-bottom: 3px solid #c90000;
}
.main-menu__item:hover a,
.main-menu__item:active a {
  color: #000;
}
.content {
  padding: 20px 30px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.grid {
  font-size: 0;
}
.grid__2-3,
.grid__1-3 {
  display: inline-block;
  vertical-align: top;
/*-moz-box-sizing border-box*/
/*box-sizing border-box*/
}
.grid__2-3 {
  width: 67%;
  font: 22px/20px 'Open Sans Condensed', sans-serif;
}
.grid__1-3 {
  width: 33%;
  text-align: right;
  overflow: hidden;
}
.grid__1-2 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font: 22px/20px 'Open Sans Condensed', sans-serif;
}
.work {
  min-height: 300px;
}
.work h2 {
  font: 24px/1 'Open Sans Condensed', sans-serif;
}
.work h2 .bright {
  color: #c90000;
}
.work h3 {
  font: 20px/1 'Open Sans Condensed', sans-serif;
}
.work section {
  font: 14px/1.4 sans-serif;
  margin-bottom: 30px;
}
.work .work__image {
  float: right;
  padding: 10px;
}
.work .work__price {
  width: 100%;
  height: auto;
  padding-top: 20px;
}
.work_tmm .work__image {
  width: 350px;
}
.teach {
  min-height: 300px;
}
.teach h2 {
  font: 24px/1 'Open Sans Condensed', sans-serif;
}
.teach h2 .bright {
  color: #c90000;
}
.teach section {
  font: 14px/1.4 sans-serif;
  margin-bottom: 60px;
}
.teach section li {
  margin: 5px 0;
}
.contact {
  min-height: 300px;
}
.contact h2 {
  font: 24px/1 'Open Sans Condensed', sans-serif;
}
.contact h2 .bright {
  color: #c90000;
}
.contact section {
  font: 18px/1.4 'Open Sans Condensed', sans-serif;
  margin-bottom: 60px;
}
.owl-carousel h2 {
  margin-bottom: 30px;
  font: 24px/1 'Open Sans Condensed', sans-serif;
  color: #c90000;
}
.owl-carousel p {
  margin: 0 0 15px;
}
.owl-carousel .owl-item {
  padding-bottom: 10px;
}
.owl-carousel .owl-item img {
  float: right;
  width: 300px;
  height: auto;
  padding: 5px;
}
.red-line {
  margin-top: 30px;
  border-top: 4px solid #c90000;
  padding: 50px;
  background: url("../images/money-icons.jpg") no-repeat 0 28px;
}
