extends ../layout

block content
    .grid.work.work_tmm
        h2
            span.bright ТЕОРИЯ МАШИН И МЕХАНИЗМОВ (ТММ)
        section
            img.work__image(src="/images/kshm.jpg")
            p Курсовой проект по ТММ МГТУ (теории машин и механизмов) — это как правило первый серьезный проект в жизни начинающего инженера. Он учит инженера анализировать исходные данные. И упорядочить знания полученные по теоретической механике и сопротивлению материалов. При его выполнении студент набирается основных знаний, которые потом будет использовать при проектировании редуктора по курсу «Детали машин».
        h3 ОБЪЕМ КУРСОВОГО ПРОЕКТА
        section
            p 1 лист: Определение закона движения начального звена.
            p 2 лист: Силовой расчет механизма.
            p 3 лист: Проектирование зубчатой передачи внешнего зацепления. Проектирование планетарного или волнового зубчатого механизма.
            p 4 лист: Проектирование кулачкового механизма.
            p Расчетно-пояснительная записка (РПЗ)
        h3 ЦЕНЫ И СХЕМЫ ВЫПОЛНЕНИЯ
        section Для вашего удобства у нас действует 3 схемы выполнения курсового проекта:
            img.work__price.work__price_dm(src="http://boting.pro/images/ctmm.JPG")
            | В случае выявления ошибок расчетного характера по нашей вине, исправляются в течении 48 часов.
